<mat-list role="list">
  <mat-list-item role="listitem" class="first-list-item">
    <a mat-button routerLink="/myresume" routerLinkActive="mat-accent"> <i class="fa fa-id-card"></i> <i class="adjust-size">My
        resume</i><i class="material-icons resume-icon">chevron_right</i></a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a mat-button routerLink="/mygame" routerLinkActive="mat-accent"> <i class="fa fa-gamepad"></i><i class="adjust-size">My
        game</i> <i class="material-icons resume-icon">chevron_right</i></a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a mat-button routerLink="/products" routerLinkActive="mat-accent"><i class="fa fa-building"></i><i class="adjust-size">My
        business</i> <i class="material-icons resume-icon">chevron_right</i></a>
  </mat-list-item>
</mat-list>
