div.row-background-color{
  background-color: white;
  margin-left: auto;
}
.category-setting{
  background-color: white;
}
.card-footer{
  padding: 0;
}
.card-footer a{
  width: 100%;
}
 div.card{
   margin-bottom: 20px;
 }
div.fixed-top{
  top: 15.2%;
  right: 77%;
}
